
body{
  background: #00000f;
}

h1{
  color: #f0ffff;
  font-size: 3em;
  line-height:1em;
  margin-bottom: 15px;
  font-family: sans-serif;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.4);
  padding:30px 0px 30px 0px;
}

p{
  line-height: 1em;
}

div{
  color: #000000;
  font-family: sans-serif;
  line-height:10px;
  margin:2%;
}

#canvas{
    margin-left:2%;
    background: linear-gradient(#010729, #012e2b); 
}